.instantDiffs-link {
	&.personal-dashboard-feed__card__link {
		padding: 4px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-decoration: none;
	}
}

.instantDiffs-line--visited {
	&.cdx-card.personal-dashboard-review-changes__card {
		color: var(--color-subtle, #54595d);
		background-color: var(--background-color-neutral-subtle, #f8f9fa);
	}
}