.instantDiffs-extension-wikibaseMediaInfo {
	.oo-ui-indexLayout-stackLayout {
		> .oo-ui-tabPanelLayout-active {
			margin: 1rem 0 0;
			padding: 0;
		}
	}
}

.instantDiffs-page-body {
	.wbmi-entityview-statementsGroup.wbmi-entityview-statementsGroup-unsupported:not(.wbmi-entityview-editable) {
		opacity: 1;
	}
}