{
	"local": {
		"dir": "dist",
		"name": "instantDiffs",
		"target": "/$name",
		"i18n": "/$name-i18n/",
		"server": "http://localhost:8000",
		"scriptPath": "/w"
	},
	"testwiki": {
		"dir": "dist",
		"name": "instantDiffs",
		"target": "User:Serhio_Magpie/$name",
		"i18n": "User:Serhio_Magpie/$name-i18n/",
		"server": "https://test.wikipedia.org",
		"scriptPath": "/w",
		"credentials": {
			"username": "",
			"password": "",
			"userAgent": "myCoolToolName 1.0 ([[link to bot user page or tool documentation]])"
		}
	},
	"mediawiki": {
		"dir": "dist",
		"name": "instantDiffs",
		"target": "MediaWiki:Gadget-$name",
		"i18n": "MediaWiki:Gadget-$name-i18n/",
		"server": "https://www.mediawiki.org",
		"scriptPath": "/w",
		"credentials": {
			"username": "",
			"password": "",
			"userAgent": "myCoolToolName 1.0 ([[link to bot user page or tool documentation]])"
		}
	}
}