@import ( reference ) '@wikimedia/codex-design-tokens/theme-wikimedia-ui.less';
@import 'variables.less';

/******* UTILS *******/

.instantDiffs-hidden {
	display: none !important;
}

.instantDiffs-invisibleIconElement {
	&& {
		&.oo-ui-buttonElement-framed {
			> .oo-ui-buttonElement-button {
				padding-inline: 12px;
			}
		}

		&.oo-ui-buttonElement-frameless {
			> .oo-ui-buttonElement-button {
				padding-inline: 6px;
			}
		}
	}

	.oo-ui-iconElement-icon {
		display: none;
	}
}

.instantDiffs-button {
	.oo-ui-buttonElement-pending {
		position: absolute;
		inset: 0;
	}

	.oo-ui-labelElement-label {
		position: relative;
	}

	&.instantDiffs-button--pending {
		pointer-events: none;
	}

	&.instantDiffs-button--hidden {
		display: none !important;
	}
}

.instantDiffs-dummy-watch {
	position: fixed;
	top: 0;
	left: 0;
	visibility: hidden;
}

.instantDiffs-notice-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	white-space: pre-wrap;
	text-align: center;

	img {
		width: 64px;
		aspect-ratio: 1/1;
		border: none;
		font-size: 0;
	}

	h5 {
		padding: 0;
		margin: 0;
	}

	&--empty {
		img {
			width: 128px;
		}
	}
}

.instantDiffs-code {
	padding: 1px 4px;
	border-radius: 2px;
	background-color: var(--background-color-neutral-subtle, #f8f9fa);
	color: var(--color-emphasized, #101418);
	border: 1px solid var(--border-color-muted, #dadde3);
}

/******* NOTIFICATION *******/

.instantDiffs-notification-label {
	font-weight: bold;
}

/******* PAGE SPECIFIC ADJUSTMENTS *******/

/* Reset ending margin when panel embedded into certain core links */
.instantDiffs-panel {
	.mw-fr-reviewlink &,
	.mw-changeslist-links &,
	.mw-changeslist-diff-cur + &,
	.mw-changeslist-diff + & {
		margin-inline-end: 0;
	}
}

/* Override link background for the "pending edits" link in the Watchlist */
.instantDiffs-link {
	.mw-fr-reviewlink & {
		background: transparent;
	}
}

/*** HISTORY PAGE ***/

.instantDiffs-button--history-compare {
	font-weight: normal;

	// /* Fix button min-width for legacy wikis */
	&.mw-ui-button {
		min-width: 0;
	}
}

/* Fix buttons vertical alignment */
.instantDiffs-enabled {
	.mw-history-compareselectedversions {
		:is( .mw-ui-button, .cdx-button ) {
			vertical-align: top;
		}
	}
}

body:not(.skin-minerva) {
	.instantDiffs-line--history {
		@media (min-width: @min-width-breakpoint-tablet) {
			// /* Add indent before the left checkbox selector for the all skins except Minerva */
			.mw-history-histlinks {
				margin-inline-end: 0.5em;
			}

			// /* Add indent after the right checkbox selector for the all skins except Minerva */
			.mw-changeslist-date {
				margin-inline-start: 0.5em;
			}
		}
	}
}

