.instantDiffs-button {
	.oo-ui-buttonElement-pending {
		position: absolute;
		inset: 0;
	}

	.oo-ui-labelElement-label {
		position: relative;
	}

	&.instantDiffs-button--pending {
		pointer-events: none;
	}

	&.instantDiffs-button--hidden {
		display: none !important;
	}
}

.instantDiffs-invisibleIconElement {
	&& {
		&.oo-ui-buttonElement-framed {
			> .oo-ui-buttonElement-button {
				padding-inline: 12px;
			}
		}

		&.oo-ui-buttonElement-frameless {
			> .oo-ui-buttonElement-button {
				padding-inline: 6px;
			}
		}
	}

	.oo-ui-iconElement-icon {
		display: none;
	}
}

.oo-ui-buttonElement-button {
	.instantDiffs-pending & {
		cursor: inherit !important;
	}
}