@import ( reference ) '@wikimedia/codex-design-tokens/theme-wikimedia-ui.less';

/******* DIALOG *******/

.instantDiffs-dialog {
    // /* [Fix] Set top indent for the dialogs because of the fixed header on the some skins  */
    &.oo-ui-window-active {
        .oo-ui-windowManager-modal > & {
            top: var(--instantDiffs-dialog-top);
        }
    }

    // Pin the dialog body to the top of the viewport to prevent navigation jumps
    @media (min-width: @min-width-breakpoint-tablet) {
        .oo-ui-windowManager-modal:not(.oo-ui-windowManager-size-full) > & {
            > .oo-ui-window-frame {
                height: 100% !important;
            }
        }
    }
}

.instantDiffs-dialog-overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
}

/******* EXTERNAL TOOLS *******/

.instantDiffs-dialog-tools {
    display: flex;
    justify-content: center;

    &:is(:empty) {
        display: none;
    }
}

/******* CONTENT *******/

.instantDiffs-dialog-content {
    width: auto;
    max-width: none;
    display: flow-root;
    margin: 0;
    font-size: var(--instantDiffs-font-size);
    line-height: var(--instantDiffs-line-height);
}

.instantDiffs-dialog-body {
    display: flow-root;
    position: relative;
    z-index: 1;

    // /* Set indent for the Flagged Revisions nodes */
    #mw-fr-diff-headeritems {
        margin-top: 1em;
    }

    #mw-fr-revisiontag-old {
        margin-bottom: 1em;
    }

    // /* Reset styles for the rollback link */
    table.diff {
        .mw-rollback-link {
            display: initial;
        }
    }

    // /* Hide table of contents */
    #toc {
        display: none;
    }
}