/******* WIKIBASE MEDIA INFO *******/

.instantDiffs-extension-wikibaseMediaInfo {
	.oo-ui-indexLayout-stackLayout {
		> .oo-ui-tabPanelLayout-active {
			margin: 1rem 0 0;
			padding: 0;
		}
	}
}

/******* PERSONAL DASHBOARD *******/

.instantDiffs-link {
	&.personal-dashboard-review-changes__card {
		.cdx-card__text {
			min-width: 0;
		}
	}
}