/******* FLAGGED REVS *******/

.instantDiffs-extension-flaggedRevs {
	.fr-rating-buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 5px;

		input {
			flex: auto;
		}
	}
}

/******* PERSONAL DASHBOARD *******/

.instantDiffs-link {
	&.personal-dashboard-review-changes__card__link {
		padding: 4px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		text-decoration: none;
	}
}

/******* WIKIBASE MEDIA INFO *******/

.instantDiffs-extension-wikibaseMediaInfo {
	.oo-ui-indexLayout-stackLayout {
		> .oo-ui-tabPanelLayout-active {
			margin: 1rem 0 0;
			padding: 0;
		}
	}
}