/******* STYLES *******/

#style-background-glass () {
	background: var(--instantDiffs-background-glass);
	background-clip: padding-box;
	-webkit-backdrop-filter: blur(16px);
			backdrop-filter: blur(16px);
}