.instantDiffs-settings {
	// /* [Fix] Set top indent for the dialogs because of the fixed header on the some skins  */
	&.oo-ui-window-active {
		.oo-ui-windowManager-modal > & {
			top: var(--instantDiffs-view-top);
		}
	}

	// Set z-index to be higher than the Codex dialog backdrop (@z-index-overlay-backdrop)
	#mw-teleport-target:has(.cdx-dialog-backdrop) & {
		z-index: @z-index-overlay;
	}
}

.instantDiffs-settings-intro {
	img {
		margin-bottom: 0.5rem;
		max-width: 360px;
		aspect-ratio: 1605 / 368;
		border: none;
		font-size: 0;
	}

	ul {
		margin-block: 0.5em 0.75rem;
	}

	p {
		margin-block: 0.5em;
		color: var(--instantDiffs-color-subtle);
	}

	hr {
		margin-block: 1rem 0.75rem;
	}

	.instantDiffs-image--intro {
		margin-bottom: 0.5rem;
	}
}

.instantDiffs-settings-panel {
	&--empty,
	&--finish {
		min-height: 100%;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;

		&[hidden] {
			display: none;
		}

		.instantDiffs-notice-box {
			transform: translateY(-50%);
		}
	}
}

.instantDiffs-image--intro {
	max-width: 360px;

	svg {
		width: 100%;
		height: auto;
	}
}

/* Reset list styles for a list hint element */
/* Use more specific selector because mobile Minerva loads unscoped ".ns-special ul" */
/* 1.42857143em is a size of the OOUI checkbox/radio */
ul.instantDiffs-list {
	&--intro {
		margin-inline: 0;
		padding-inline: 0;
		list-style: none;
		font-weight: bold;

		li {
			margin: 0;
			display: inline;

			&::after {
				content: " · ";
				font-weight: bold
			}

			&:last-child::after {
				content: none
			}
		}
	}

	&--examples {
		margin-block: 0;
		margin-inline: 1.42857143em 0;
		padding: 0;
		list-style: disc;
		font-size: var(--instantDiffs-font-size-hint);

		li {
			margin: 0;
		}

		i {
			direction: ltr;
			unicode-bidi: embed;
		}
	}

	&--hotkeys {
		margin: 0;
		padding: 0;
		list-style: none;
		font-size: var(--instantDiffs-font-size-hint);

		li {
			margin: 0;

			& + li {
				margin-top: calc(1em / 2.4);
			}
		}

		i {
			direction: ltr;
			unicode-bidi: embed;
		}
	}
}