@import ( reference ) '@wikimedia/codex-design-tokens/theme-wikimedia-ui.less';

/******* VIEW *******/

.instantDiffs-view {
	// /* [Fix] Set top indent for the dialogs because of the fixed header on the some skins  */
	&.oo-ui-window-active {
		.oo-ui-windowManager-modal > & {
			top: var(--instantDiffs-view-top);
		}
	}

	.oo-ui-messageDialog-message {
		transition: opacity 150ms ease-in-out;

		&.is-transparent {
			opacity: 0;
		}
	}

	.oo-ui-windowManager-modal:not(.oo-ui-windowManager-size-full) & {
		.instantDiffs-navigation {
			border-radius: var(--instantDiffs-view-radius) var(--instantDiffs-view-radius) 0 0;
		}

		.instantDiffs-view-loader {
			border-top-right-radius: max(var(--instantDiffs-view-radius), 0.28571429em) 0.28571429em;
			border-top-left-radius: max(var(--instantDiffs-view-radius), 0.28571429em) 0.28571429em;
		}
	}
}

.instantDiffs-view-overlay {
	position: absolute;
	inset: 0;
	z-index: -1;
}

.instantDiffs-view-loader {
	max-width: none;
	position: absolute;
	inset: 0 0 auto;
	z-index: 3;
	border-radius: 0;
	transition: opacity 150ms ease-in-out;

	.oo-ui-progressBarWidget-bar {
		animation-duration: 1000ms;
	}

	&.is-transparent {
		opacity: 0;
	}
}