/**
 * Miraheze / Wikitide
 */

/******* VARIABLES *******/

@media screen {
    --instantDiffs-color-link: var(--color-link);
    --instantDiffs-color-link--hover: var(--color-link--hover);
    --instantDiffs-color-link--active: var(--color-link--active);
    --instantDiffs-font-size: var(--font-size-medium, 1rem);
    --instantDiffs-line-height: var(--line-height, 1.6);
}