/**
 * Fandom specific styles for the mobile skin
 */

/******* VARIABLES *******/

@media screen {
    --instantDiffs-background-navigation: color-mix(in srgb, var(--theme-page-background-color--secondary, #ffffff) 70%, transparent);
    --instantDiffs-font-size: 1rem;
    --instantDiffs-line-height: 1.75;
    --instantDiffs-view-top: 55px;
}

/******* NAVIGATION *******/

.instantDiffs-navigation {
    margin-inline: -24px;
    padding: 1em 24px;
}