/**
 * Skin:FandomDesktop specific styles
 * Used on desktop devices in Fandom
 */

@import ( multiple ) 'fandom.base.less';

/******* VARIABLES *******/

@media screen {
	--instantDiffs-view-top: 45px;

	&.theme-fandomdesktop-dark {
		--instantDiffs-color-link--visited: var(--color-visited, #a799cd);
		--instantDiffs-background-link--visited: var(--background-color-option-purple, #353262);
	}
}