/**
 * Skin:FandomMobile specific styles
 * Used on mobile devices in Fandom
 */

@import ( multiple ) 'fandom.base.less';

/******* VARIABLES *******/

@media screen {
	--instantDiffs-view-top: 55px;

	&.theme-fandommobile-dark {
		--instantDiffs-color-link--visited: var(--color-visited, #a799cd);
		--instantDiffs-background-link--visited: var(--background-color-option-purple, #353262);
	}
}