/**
 * Skin:MonoBook specific styles
 * @see {@link https://www.mediawiki.org/wiki/Skin:MonoBook}
 */

/******* VARIABLES *******/

@media screen {
	--instantDiffs-border-color: #ccc;
	--instantDiffs-line-height: 1.5;
	--instantDiffs-font-size: 0.794rem; /* 127% (12.7px) */
	--instantDiffs-font-size-navigation: var(--instantDiffs-font-size);
	--instantDiffs-button-radius: var(--border-radius-base, 3px);
	--instantDiffs-view-padding: 1rem;
}

/******* PAGE *******/

&.skin--responsive {
	.instantDiffs-page {
		@media ( max-width: 550px ) {
			// Disable horizontal scrolling
			overflow: visible;
		}
	}
}

/******* VIEW *******/

.instantDiffs-view {
	.oo-ui-messageDialog-text {
		// Use rem instead of em to avoid horizontal scrolling
		padding: 1rem 1rem 1.25rem;
	}
}

/******* NAVIGATION *******/

.instantDiffs-navigation {
	// Use rem instead of em to avoid horizontal scrolling
	margin-bottom: 1rem;
	padding-block: 1rem;

	@media (max-width: @max-width-breakpoint-mobile) {
		padding: calc(var(--instantDiffs-view-padding) / 2);
	}
}