/******* VARIABLES *******/

@media screen {
    --instantDiffs-font-size: 0.794rem; /* 127% (12.7px) */
    --instantDiffs-line-height: 1.5;
}

/******* WINDOW *******/

/*** CONTENT ***/

/* [Fix] Text color for Monobook. */
.instantDiffs-window-content {
    color: #000000;
}

/******* NAVIGATION *******/

.instantDiffs-navigation {
    margin: 0 -1em;
    padding: 1em;
}