/******* VARIABLES *******/

.skin-monobook {
    --instantDiffs-font-size: 0.794rem; /* 127% (12.7px) */
    --instantDiffs-line-height: 1.5;
}

/******* DIALOG *******/

/*** NAVIGATION ***/

.skin-monobook .instantDiffs-navigation {
    margin: 0 -1em;
    padding: 1em;
}

/*** CONTENT ***/

/* [Fix] Text color for Monobook. */
.skin-monobook .instantDiffs-dialog-content {
    color: #000000;
}