/**
 * PCGamingWiki specific styles
 */

/******* VARIABLES *******/

@media screen {
    --instantDiffs-dialog-top: 45px;
}

/******* PAGE SPECIFIC ADJUSTMENTS *******/

/*** HISTORY PAGE ***/

/* [Fix] Margin */
.mw-history-compareselectedversions {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mw-history-compareselectedversions-button {
    margin-top: 0;
    margin-bottom: 0;
}

.instantDiffs-button--compare {
    padding: 8px 12px;
}