/**
 * Skin:Overclocked specific styles
 * Used on PCGamingWiki
 * @see {@link https://www.mediawiki.org/wiki/Skin:Overclocked}
 */

/******* VARIABLES *******/

@media screen {
    --instantDiffs-font-size: 1.3rem;
    --instantDiffs-font-size-navigation: var(--instantDiffs-font-size);
    --instantDiffs-font-size-hint: 1.2rem;
    --instantDiffs-view-top: 45px;
}

/******* PAGE SPECIFIC ADJUSTMENTS *******/

/*** HISTORY PAGE ***/

/* [Fix] Margin */
.mw-history-compareselectedversions {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mw-history-compareselectedversions-button {
    margin-top: 0;
    margin-bottom: 0;
}

.instantDiffs-button--compare {
    padding: 8px 12px;
}

/******* VIEW *******/

/* [Fix] Loader height and styles, as PCGamingWiki uses an old version of MediaWiki, */
/* where compact inline loader is not implemented yet. */
.instantDiffs-view-loader {
    border: none;
    box-shadow: none;

    .oo-ui-progressBarWidget-bar {
        height: 0.28571429em;
    }
}